.board {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}

.row {
   display: flex;
}

.cell {
   width: 80px;
   height: 80px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   cursor: pointer;
}

.message {
   margin-top: 20px;
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

.hidden {
   display: none;
}

.jumbotron {
   background-color: #f8f9fa;
   padding: 0.5rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   font-size: 24px;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 25vh;
}

@media (max-width: 992px) {
   .cell {
      width: 12.5vw;
      height: 12.5vw;
      font-size: 7.5vw;
   }

   .message {
      margin-top: 15px;
      font-size: 4vw;
   }

   .jumbotron {
      font-size: 10vw;
   }
}

@media (max-width: 768px) {
   .cell {
      width: 14vw;
      height: 14vw;
      font-size: 8vw;
   }

   .message {
      margin-top: 10px;
      font-size: 3.5vw;
   }

   .jumbotron {
      font-size: 12vw;
   }
}

@media (max-width: 576px) {
   .cell {
      width: 25vw;
      height: 25vw;
      font-size: 14vw;
   }

   .message {
      margin-top: 5px;
      font-size: 3vw;
   }

   .jumbotron {
      font-size: 18vw;
   }
}

@media (min-width: 1200px) {
   .cell {
      width: 7.5vw;
      height: 7.5vw;
      font-size: 4.5vw;
   }

   .message {
      margin-top: 50px;
      font-size: 2vw;
   }

   .jumbotron {
      font-size: 7.5vw;
   }
}
