.board {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   padding: 20px;
   border-radius: 5px;
}

body {
   background: linear-gradient(to bottom, #420c83, #880e4f);
   color: white;
   font-family: "Handlee", cursive;
}

.row {
   display: flex;
}

.cell {
   width: 80px;
   height: 80px;
   border: 1px solid rgb(14, 1, 1);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.3);
   color: white;
}

.message {
   margin-top: 20px;
   font-size: 18px;
   font-weight: bold;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.8);
   padding: 10px;
   border-radius: 5px;
   color: #4a148c;
}

.hidden {
   display: none;
}

.jumbotron {
   background: linear-gradient(to bottom, #4a148c, #880e4f);
   color: white;
   padding: 0.5rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   font-size: 24px;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 25vh;
}

.reset-button {
   margin-top: 20px;
   font-size: 16px;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #007bff;
   color: white;
   cursor: pointer;
}

@media (max-width: 992px) {
   .cell {
      width: 12.5vw;
      height: 12.5vw;
      font-size: 7.5vw;
   }

   .message {
      margin-top: 15px;
      font-size: 4vw;
   }

   .jumbotron {
      font-size: 10vw;
   }
}

@media (max-width: 768px) {
   .cell {
      width: 14vw;
      height: 14vw;
      font-size: 8vw;
   }

   .message {
      margin-top: 10px;
      font-size: 3.5vw;
   }

   .jumbotron {
      font-size: 12vw;
   }
}

@media (max-width: 576px) {
   .cell {
      width: 25vw;
      height: 25vw;
      font-size: 14vw;
   }

   .message {
      margin-top: 5px;
      font-size: 3vw;
   }

   .jumbotron {
      font-size: 18vw;
   }
}

@media (min-width: 1200px) {
   .cell {
      width: 7.5vw;
      height: 7.5vw;
      font-size: 4.5vw;
   }

   .message {
      margin-top: 50px;
      font-size: 2vw;
   }

   .jumbotron {
      font-size: 7.5vw;
   }
}

@media (min-width: 576px) {
   .reset-button {
      margin-top: 30px;
   }
}

@media (min-width: 768px) {
   .reset-button {
      margin-top: 40px;
   }
}

@media (min-width: 992px) {
   .reset-button {
      margin-top: 50px;
   }
}

@media (min-width: 1200px) {
   .reset-button {
      margin-top: 60px;
   }
}
